* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 150px;
}
.left {
  width: 50%;
  display: flex;
  margin-left: 70px;
}
.right {
  width: 50%;
  display: flex;
  padding-left: 450px;
}
.left svg {
  width: 20px;
  height: 100px;
}
.left .text {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 15px;
  font-family: inherit;
  text-decoration: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: black;
  font-weight: 500;
}
.right svg {
  width: 25px;
  height: 95px;
  color: grey;
}
.right span {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 8px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
#parent{
width: 100%;
height: 1000px;
padding: 0px 220px 0px 220px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#productMain{
  border: 1px;
  width: 30%;
  height: 460px;
  margin-bottom: 50px;
background-color: rgba(249,250,251);
border-radius: 0.5rem;
box-sizing: border-box;
}
.img {
  margin: 12px 0px 0px 20px;
  width: 90%;
  height: 70%;
}
.text {
font-size: 1.125rem;
font-weight: 600;
color: rgba(31,41,55,var(--tw-text-opacity));
margin: 25px 0px 0px 0px;
font-family: f system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
display: flex;
justify-content: center;
}
.price {
font-size: .900rem;
color: grey;
font-family: f system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
display: flex;
justify-content: center;
margin: 20px 0px 0px 0px;
}
